<nav aria-label="...">
    <ul class="pager">
        {% if entries.has_prev %}
            <li class="previous">
                <a href="{{ url_for('blog.search_by_category', name=name, page=entries.prev_num) }}">
                    <span aria-hidden="true">&larr;</span> Previous
                </a>
            </li>
        {% else %}
            <li class="previous">
                <a href="#">
                    <span aria-hidden="true">&larr;</span> Previous
                </a>
            </li>
        {% endif %}

        {% if entries.has_next %}
            <li class="next">
                <a href="{{ url_for('blog.search_by_category', name=name, page=entries.next_num) }}">
                    <span aria-hidden="true">&rarr;</span> Next
                </a>
            </li>
        {% else %}
            <li class="next">
                <a href="#">
                    <span aria-hidden="true">&rarr;</span> Next
                </a>
            </li>
        {% endif %}
    </ul>
</nav>