{% extends "_layouts/main_base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-1">
            <div class="top">
                <ul class="nav nav-pills nav-stacked">
                    <li role="presentation"><a href="#">Entries</a></li>
                    <li role="presentation"><a href="{{ url_for('admin.authors') }}">Authors</a></li>
                    <li role="presentation"><a href="{{ url_for('admin.categories') }}">Categories</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-11">
            <div class="top">
                {% block message %}
                {% endblock %}
            </div>

            <div class="jumbotron inner_jumbotron">
                {% block admin_content %}
                {% endblock %}
            </div>
        </div>
    </div>

    {% block footer%}
        {{super()}}
    {% endblock %}
{% endblock %}